
<h2> {{title}} </h2>

<table>
  <tr>
    <th *ngFor="let col of columns">
      {{col}}

    </th>
  </tr>
  <tr *ngFor="let ticktet of tickets | paginate:{itemsPerPage: 25, currentPage: page,
    totalItems: totalLength}">
    <td> {{ticktet.subject}}</td>
    <td>
      <button (click)="toogleTag()">Show Descriptions</button>
      <p *ngIf="showMe"> {{ticktet.description}}</p>
    </td>
  </tr>
</table>

<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

