
<span> {{title}} </span>

<h1> API CALL</h1>
<!-- <div class="text-center">
  <table>
    <tr>
      <td>PostId</td>
      <td>Id</td>
      <td>Name</td>
      <td>Completed</td>
    </tr>
    <tr *ngFor="let items of data | paginate:{itemsPerPage: 25, currentPage: page,
      totalItems: totalLength}"  >
      <td>{{items.url}}</td>
      <td>{{items.id}}</td>
      <td>{{items.external_id}}</td>  
      <td>{{items.via}}</td>    
    </tr>
  </table>
</div> -->

<table>
  <tr>
    <th *ngFor="let col of columns">
      {{col}}

    </th>
  </tr>
  <tr *ngFor="let ticktet of tickets | paginate:{itemsPerPage: 25, currentPage: page,
    totalItems: totalLength}">
    <td>{{ticktet.requester_id}}</td>
    <td>{{ticktet.assignee_id}}</td>
    <td> {{ticktet.subject}}</td>
    <td> {{ticktet.description}} </td>
  </tr>
</table>

<pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

